@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+2:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple');


.navlink{
    text-decoration: none;
    color:#fff;
    width: 100%;
    direction: rtl;
    text-align: right;
    
    padding: 15px 10px;
}
.fl{
}

.font{
    font-family: 'Tajawal', sans-serif;
    
}
.logo{
    font-family: 'Lobster', cursive;
}

.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
